<launch>
    <!-- 启动 driver_node 节点 -->
    <node pkg="driver" type="driver_node" name="car_driver" output="screen">
        <!-- 节点参数，可根据你 driver_pkg_node 代码调整 -->
        <param name="usart_port_name" value="/dev/car_driver_tty"/>
        <param name="serial_baud_rate" value="115200"/>
    </node>
</launch>

